
body {
    background-color: #d9d9d9;   
}

a {
    text-decoration: none;
    color: inherit;
}

.secao-inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 90px;

    padding: 20px;
    background-color: #d9d9d9;

}

.secao-inicio header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    max-width: 1200px;
    width: 100%;
}

.secao-inicio header a {
    display: flex;
    flex-direction: row;
    font: 700 18px 'Open Sans';
    gap: 10px;
    align-items: center;
    text-transform: uppercase;
}

.secao-inicio header nav {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.secao-inicio header nav a {
    font: 600 18px 'Open Sans';
    gap: 10px;
    align-items: center;
    
    
}

.secao-inicio main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;

    
    max-width: 1200px;
    width: 100%;

}

.secao-inicio main .textos {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 600px;

}

.secao-inicio main .textos h1 {
    font: 400 60px/80px 'Pacifico';

}

.secao-inicio main .textos p {
    font: 500 18px/30px 'Open Sans';
    text-align: justify;
    

}

.secao-inicio main .textos button {
    display: inline-block;
    border: none;
    border-radius: 100px;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    box-shadow: 5px 5px 0 1px #57F2B7;
    background-color: #ffffff69;
    font: 700 22px 'Open Sans';
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease, 
                transform 150ms ease;

}

.secao-inicio .textos button:hover,
button:focus {
    background: #57F287;
    box-shadow: 5px 5px 0 1px #000000;
}

.secao-inicio .textos button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.secao-inicio .textos button:active {
    transform: scale(0.99);
}

.secao-inicio main .imagem-capa{
    display: flex;
    width: 800px;
    height: 500px;
    background-color: #d9d9d9;
    

    position: relative;
    left: 120px;
}

.secao-inicio main .capa {
    width: 500px;
    height: 400px;
    

    position: relative;
    top: 40px;
    left: 80px;

}

.pacotes {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top, #c4cae0, #d9d9d9);
    padding: 30px;
    width: 100%;
}

.pacotes header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px;
}

.pacotes header h3{
    font: 500 50px/50px 'Lobster';
    text-align: center;
    padding: 20px;
    font-style: italic;
    text-shadow: -2px 2px 2px #999;
    box-shadow: 5px 5px 0 1px #57F2B7;
    background-color: #ffffff69;
    border-radius: 6px 12px 18px 24px;
}

.pacotes main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
    
}

.pacotes main .texto1{
    display: flex;
    flex-direction: column;
    text-align: justify;

}

.pacotes main .texto2{
    display: flex;
    flex-direction: column;
    text-align: justify;

}

.pacotes main .texto3{
    display: flex;
    flex-direction: column;
    text-align: justify;

}

.pacotes main .texto4{
    display: flex;
    flex-direction: column;
    text-align: justify;

}

.pacotes .price{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;

}

.pacotes .price h4 {
    font: 30px/35px 'Pacifico';
    padding: 30px;
    text-shadow: -2px 2px 2px #999;
    box-shadow: 5px 5px 0 1px #57F2B7;
    background-color: #ffffff69;
    border-radius: 6px 24px 6px 34px;
}

.pacotes .botao-assine{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 50px;

}

.pacotes .botao-assine button {
    display: inline-block;
    border: none;
    border-radius: 100px;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    box-shadow: 5px 5px 0 1px #57F2B7;
    background-color: #fff;
    font: 700 18px 'Open Sans';
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease, 
                transform 150ms ease;
}

.pacotes .botao-assine button:hover,
button:focus {
    background: #57F287;
    box-shadow: 5px 5px 0 1px #000000;
}

.pacotes .botao-assine button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.pacotes .botao-assine button:active {
    transform: scale(0.99);
}

.group {
    margin: 10px;
    padding: 30px;
    border: 1px solid #000 ;
}

.formulario {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 700px;
    padding: 90px;
    background: linear-gradient(to top, #d9d9d9, #c4cae0);
}

.form-section {
    display: block;
    flex-direction: column;
    justify-content: center;
    background-color: #f4f7f8;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 500px;
}

.form-section h2 {
    margin-bottom: 15px;
    font-size: 24px;
    color: #333;
}

.form-section label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.form-section input[type="text"],
.form-section input[type="email"],
.form-section input[type="telefone"],
.form-section textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.form-section button {
    display: inline-block;
    border: none;
    border-radius: 100px;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
}

.form-section button:hover {
    background-color: #0056b3;
}

.botoes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    gap: 20px;
    padding: 230px 20px 290px 20px;

}

.botoes i {
    font-size: 80px;
    margin-bottom: 25px;

}

.botoes .button-link{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 12px;

    font: 700 24px 'Roboto';

    box-shadow: 10px 10px 0 1px #57F2B7;
    background-color: #fff;
    color: #000;
    width: 360px;
    height: 300px;

}

.botoes .button-link:hover,
button:focus {
    background: #57F287;
    box-shadow: 10px 10px 0 1px #000000;
}

.botoes .button-link:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.botoes .button-link:active {
    transform: scale(0.99);
}